@import url('fonts/fonts.css');

:root {
  --accent-color-1: #3d68ed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding: 15px;
}
